<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>database</title>
  </head>
  <body class="bg-gray-800">
     <button id="togglesidebar" class="absolute z-30 m-4">
      <img src="../assets/img/icon/side.png" width="35" alt="" />
    </button>
    <div class="flex text-white text-sm relative" > 
                <!-- sidebar -->
                <div id="sidebar" class="sidebar w-1/5 h-screen bg-gray-900 flex justify-center fixed transition-all duration-300">
                  <nav>
                    <img class="w-32 h-32 rounded-full mt-6 mb-5 border-2 border-white hover:scale-125" src="../assets/img/profil.JPG" alt="">
                    {{#if userData}} <span class="ms-2">{{userData}}</span> {{/if}}
                     <div class="data border-2 border-white absolute -ms-14 mt-10">
                      <span class=" text-base flex m-4 pl-5" > <img src="../assets/img/dasboard/db.png" class="w-5 mx-2 " alt=""> DATABASE <img src="../assets/img/dasboard/db.png" class="w-5 mx-2" alt=""></span>
                      <hr>
                      <ul class="my-2">
                        <li class="hover:bg-gray-600 pl-10 py-5 bg-gray-800"><a class="flex" href="/dataTech"><img src="../assets/img/dasboard/tech.png" class="w-5 mr-3" alt=""> Tech Stack => </a></li>
                        <li class="hover:bg-gray-600 pl-10 py-5"><a class="flex" href="/dataExp"><img src="../assets/img/dasboard/exp.png" class="w-5 mr-3" alt=""> Experiences</a></li>
                        <li class="hover:bg-gray-600 pl-10 py-5"><a class="flex" href="/dataProject"><img src="../assets/img/dasboard/project.png" class="w-5 mr-3" alt=""> Projects</a></li>
                      </ul>
                     </div>
                     <form class="flex items-end h-2/3 mt-5" action=""> <a class="flex hover:scale-110 hover:text-red-600" href="/final/logout"><img class="mr-2 w-5" src="../assets/img/dasboard/out.png" alt=""> LOG OUT</a></form>
                  </nav>
                </div>
                <!-- mainbar -->
                <div class="mx-auto">
                  <a href="" class="absolute top-0 right-0 m-5 text-center"><img src="../assets/img/dasboard/mode.png" class="w-10"  alt="">Light</a>
                  <h1 class="ml-46 text-3xl mb-16 mt-10 font-bold"> DATABASE TECH STACK</h1>
                  <form action="/dataTech" method="post" enctype="multipart/form-data" class="bg-gray-600 w-fit p-5 border-2 border-white rounded-xl text-md ms-44">
                    <label class="font-bold" for="name_tech">Name Tech</label><br>
                    <input class="border border-white mt-1 mb-3 w-78 py-1 px-2 hover:bg-gray-900" type="text" name="name_tech" id="name_tech" required><br>
                    <label class="font-bold" for="img_tech">Upload Logo</label> <br>
                    <input class="border border-white mt-1 mb-5 py-1 px-2 hover:bg-gray-900" type="file" name="img_tech" id="img_tech" accept="img_tech/*" required> <br>
                  <button type="submit" class=" bg-gray-900 border border-white px-2 py-1 rounded-md hover:text-blue-700">Create Tech</button>
                  </form>
                  <table class="mt-10 mx-auto mb-10 absolute">
                  <thead class="border border-white bg-gray-800">
                    <tr>
                      <th class="py-4 px-8">ID</th>
                      <th class="border border-white py-4 px-8">Logo</th>
                      <th class="border border-white py-4 px-32">Name Tech</th>
                      <th class="border border-white py-4 px-24">Action</th>
                    </tr>
                  </thead>
                  <tbody class="bg-gray-700 border border-white">
                    {{#each tb_tech}}
                    <tr data-id="{{id_tech}}">
                      <td class="border border-white text-center"> {{id_tech}} </td>
                      <td class="border border-white text-center">
                        <div class="logo-view">
                          <img src="/assets/uploads/{{img_tech}}" class="w-8 mx-auto my-2" alt="">
                        </div>
                        <div class="logo-edit" hidden>
                          <input type="file" name="edit_img_tech" accept="image/*" class="file-input mt-2" />
                        </div>
                      </td>

                      <td class="border border-white pl-5"> <span class="name-tech"> {{name_tech}} </span> <input class="edit-name p-1" type="text" value="{{name_tech}}" hidden> </td>
                      <td class="border border-white">
                        <div class="flex justify-around my-2">
                        <button type="submit" data-mode="edit" class="edit-save-tech bg-gray-900 px-7 py-1 rounded-lg border border-gray-400 hover:text-blue-600">Edit</button>
                        <form action="/dataTech/delete/{{id_tech}}" method="post"><button type="submit" class="bg-gray-900 px-5 py-1 rounded-lg border border-gray-400 hover:text-red-600">delete</button></form>
                        </div>
                      </td>
                    </tr>
                  {{/each}}
                  </tbody>
                   </table>
          </div>
      </div>
    </div>
    <script src="../assets/js/tech.js"></script>
    <script src="../assets/js/sidebar.js"></script>
  </body>
</html>